.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: "95%";
}
/* style */
input {
  width: 89% !important;
  outline: 0;
  font-size: 12px;
  border-width: 0 0 1px;
  border-color: grey;
}
.overalldialogue {
  width: "80%";
}
.tableHead {
  font-size: 12 !important;

  /* background-color: #61dafb; */
}
.MuiDialog-paper {
  /* margin: 32px; */
  position: relative;
  overflow-y: auto;
}

.fc-event,
.fc-event-dot {
  background-color: transparent !important;
  border: solid 1px white !important;
}
